<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{ content }}
    {% include analytics.html %}
  </body>
</html>
